<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seth Pruitt is awesome and you all know it.</title>
</head>
<body>
    <h1>The cheapest state to live in is:</h1>
    <div id="state"></div>
    <h1>The median price is:</h1>
    <div id="price"></div>
    <div class="price"></div>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="static/js/Superhappyfuntime.js"></script>
</body>
</html>